body {
    font-family: 'Nunito';
  }

#whiteboard{
    cursor: url('assets/pen.png'), auto;
}

#toolSelectionBox,
#functions ,
#initialOptions{
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
#functions{
  left:245px;
}


#penOptions.disabled,
#toolSelectionBox.disabled,
#functions.disabled,
#whiteboard.disabled,
#initialOptions.disabled{
  pointer-events: none;
  opacity: 0;
}

#penOptions{
  position: absolute;
  top: 70px;
  left: 10px;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#penOptions .title{
  display: flexbox;
  position: relative;
  align-items:center;
  /* border: 2px solid; */
  padding: 1px; 
}

.checkbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position:relative;
  width: 14px; 
  height: 14px; 
  border-radius: 50%; 
  border: 1px solid #ccc; 
  outline: none; 
  cursor: pointer; 
}

.checkbox:checked {
  background-color: #f8eafc; /* Change background color when checked */
}

/* Hide the default checkbox */
.checkbox + label {
  display: inline-block;
  border: #ccc;
  width: 14px; 
  height: 14px; 
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
}

.chooseColours,
.chooseStroke,
.tools{
  list-style: none;
  display: flex;
  margin: 5px 5px 5px 5px;
  justify-content: space-around;
  align-items: center;
  padding: 0;
}

.chooseColours .option{
  text-align: center;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  position: relative;
  margin:0 5px;
}
.chooseColours .option:nth-child(5){
  background: red;
}
.chooseColours .option:nth-child(2){
  background: yellow;
}
.chooseColours .option:nth-child(3){
  background: green;
}
.chooseColours .option:nth-child(4){
  background: cyan;
}
.chooseColours .option:nth-child(1){
  background: black;
}
.chooseColours .option:hover::before, 
.chooseColours .option.active::before{
  position:absolute;
  content: "";
  top : 50%;
  left: 50%;
  height: 12px;
  width: 12px;
  align-content: center;
  background: inherit;
  border-radius: inherit;
  border: 2px solid purple;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.tools .option,
.chooseStroke .option{
  text-align: center;
  position: relative;
  height: 40px;
  width:40px;
  border-radius: 20%;
  margin:0 2px;
}
.chooseStroke .option{
  height: 35px;
  width: 35px;
  border: 1px solid #ccc ;
}

#functions .option,
#initialOptions .option{
	text-align: center;
	position: relative;
	height: 40px;
	width:50px;
	border-radius: 20%;
	margin:5px 3px 5px 3px;
	border: 1px solid #ccc ;
	background-color: #fff;
  }

.tools img,
.chooseStroke img{
  margin-top: 10px;
  width: 18px; /* Adjust the size as needed */
  height: 18px;
}



.chooseStroke .option:is(:hover, .active),
.tools .option:is(:hover, .active),
#functions .option:hover{
  background: #f8eafc;
  cursor: pointer;
}

body {
    margin: 0;
    overflow: hidden;
  }

  canvas {
    display: block;
  }

  .hidden {
    display: none;
  }

#toolSelectionBox.dark-mode,
#functions.dark-mode,
#penOptions.dark-mode,
#functions .option.dark-mode,
#initialOptions.dark-mode{
  background-color: #1b1b1b;
  color: #f8eafc;
}

#functions .option.dark-mode:hover,
#initialOptions.dark-mode:hover{
  background: #f8eafc;
  color: #1b1b1b;
  cursor: pointer;
}